*{
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

/*-------- back Button style --------*/
.backButton{
  display: flex;
  position: fixed;
  left:3%;
  top:3%;
  border:3px solid rgb(248, 61, 61);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.backButton:hover{
  border:3px solid black;
}

.backButton i{
  font-size: 70px;
  cursor: pointer;
  color: rgb(248, 61, 61);
}

.backButton i:hover{
  color: black;
}

.backButton i a{
  display: inline-block;
}

/*----- play button -----*/
.play{
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: steelblue;
  border-radius: 50px;
  border: 2px #fff solid;
  opacity: 0.8;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  z-index: 1;
}

.play p {
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  color: #fff;
  font-family: "Rimouski";
}

/* ------------ memo ------------ */
.memo {
  box-sizing: border-box;
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 120px;
  height: 135px;
  background-color: transparent;
  border-radius: 10%;
  border: solid gray 2px;
  z-index: 1;
}

.memo p {
  color: gray;
  line-height: 0.8em;
  margin-top: 15px;
  margin-left: 10px;
}